/node_modules
/vendor
/public/build
/public/hot
.env
.env.*
!.env.example
/auth.json
/public/storage
/storage/*.key
/storage/pail
*.log
/.phpunit.cache
.phpunit.result.cache
/coverage
/.fleet
/.idea
/.nova
/.vscode
/.zed
.phpactor.json
*.swp
*.swo
.DS_Store
Thumbs.db
ehthumbs.db
Desktop.ini
Homestead.json
Homestead.yaml
docker-compose.override.yml
